*,
*::before,
*::after {
	-webkit-box-sizing: inherit;
	        box-sizing: inherit;
}
html {
    font-family: 'Raleway';
    font-size: 18px;
    font-weight: 400;
    line-height: 1.8;
}
body,header,h1,div,span,a,nav,ul,li,form,label{
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
}
html {
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
}
body {
    color: #666;
    background-color: #FFF;
    font-size: 1em;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: grayscale;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}
h1,h2,h3,h4,h5,h6{
    clear: both;
}

a{
    color: #D0422C;
    cursor:pointer;
}
a:link,
a:visited {
	text-decoration: none;
}
ul{
    list-style: outside disc;
}
i {
    font-style: italic;
}
#access > div > ul > li, #access > div > ul > li > a, #access .menu-search-animated .searchform input[type="search"] {
    color: #63666B;
}
#masthead:hover .icon-cancel{
    color: #D0422C;
}
#site-header-main{
height: 85px;
width: 100%;
position: fixed;
left: 0;
right: 0;
top: 0;
display: inline-block;
margin: 0 auto;
background-color: #FFFFFF;
z-index: 101;
vertical-align: top;
border-bottom: 1px solid;
border-bottom-color: rgba(0,0,0,.05);
}
#site-header-main-inside {
    position: relative;
    width: 100%;
    padding-left: 2em;
    padding-right: 2em;
    margin: 0 auto;
    max-width: 1380px;
}
#branding{
    height: 85px;
    margin-right: 3em;
    float: left;

    }
#site-text{ 
        position: relative;
        top: 50%;
        float: left;
        transform: translateY(-50%);
    }
    #prime_nav span::before, #site-title::before {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        width: 0;
        margin: auto;
        height: 1px;
        opacity: .5;
        -webkit-transition: .2s ease-out all;
        transition: .2s ease-out all;
    }
    #prime_nav span::before,#site-title::before {
        -webkit-transition: .35s ease-out all;
        transition: .35s ease-out all;
    }
    #site-title::before {
        background-color: #777777;
    }
    #site-title a:hover{
        color: #777777; 
    }
    #site-title{
        /* font-family: 'Raleway';
        font-size: 120%;
        font-weight: 400; */
        float: left;
        position: relative;
        line-height: 1.4;
    }
    #sheader-container{
        position: relative;
        float: right;
        margin-left: .5em;
    } 
.menu-search-animated, 
#sheader-container, 
.identity,
#nav-toggle {
    height: 85px;
    line-height: 85px;
    }
#access {
    float: right;
}


#access ul li{
    display: block;
    float: left;
    position: relative;
    white-space: nowrap;
}
#access a{
    display: block;
    padding: 0 1.6em;
    text-decoration: none;
}
#access ul li a {
    font-family: Raleway;
    font-size: 100%;
    font-weight: 300;
}
#access li.menu-main-search{
    position: static;
    padding: 0 .4em;
}
#access .menu-search-animated {
    padding: 0 .3em;
}
#access>div>ul>li.current-menu-item>a{
    color:#777777;
}
#access > div > ul > li > a {
    line-height: 85px;
    position: relative;
    z-index: 999;
}


#access > div > ul > li > a > span {
    position: relative;
    display: inline-block;
    line-height: 2.5em;
}
#access > div > ul > li,menu-search-animated{
    text-align: center;
}
#access i.icon-search {
    cursor: pointer;
}
#access .menu-main-search i.icon-search {
    display: inline-block;
    padding-right: .5em;
    padding-left: .5em;
}

.searchform{
    overflow: hidden;
}
#access .menu-search-animated .searchform {
    display: none;
    position: absolute;
    z-index: 1000;
    top: 0;
    right: 0;
    left: 0;
    width: 100%;
    max-width: calc(100% - 2em);
    margin: 0 auto;
    border: 0;
    border-radius: 4px;
    height: 84px;
    line-height: 84px;
}
input[type="search"] {
    max-width: 100%;
    background: transparent;
    font-family: inherit;
}
input[type="search"] {
    -webkit-appearance: textfield;
    outline: none;
}
.searchform input[type="search"] {
    display: block;
    float: left;
    position: relative;
    z-index: 7;
    height: 3.5em;
    width: 100%;
    padding: 0 1em 0 3em;
    font-size: 1em;
    border-radius: 100px;
    -webkit-transition: .3s all ease-out;
    transition: .3s all ease-out;
}
.menu-search-animated .searchform input[type="search"], #access .menu-search-animated .searchform{
    background-color: #FFFFFF;
}
#access .menu-search-animated .searchform input[type="search"] {
    padding-left: 1em;
    padding-right: 1em;
    height: 100%;
    border: 0;
    font-size: 1.2em;
    font-weight: 400;
}

button{
    border-radius: 100px;
    font-family: inherit;
}
#access .menu-search-animated .searchsubmit {
    display: none;
}
.searchform .searchsubmit {
    color: #666;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 8;
    height: 3.5em;
    width: 3.5em;
    padding: 0;
    border: 0;
    font-size: 1em;
    background: transparent;
    vertical-align: middle;
    cursor: pointer;
    -webkit-transition: .3s all ease-in-out;
    transition: .3s all ease-in-out;
}



.menu-main-search .icon-cancel {
    display: none;
    position: absolute;
    top: 50%;
    right: 2em;
    z-index: 1000;
    font-size: 1.2em;
    cursor: pointer;
}

#prime_nav span::before{
    background-color: #D0422C;
}
#prime_nav span:hover,.icon-search:hover::before{
    color: #D0422C;
}
#prime_nav span:hover::before,#site-title:hover::before {
	width: 100%;
}
#access i.icon-search::before {
    display: block;
    font-style: normal;
    font-size: 1.1em;
}


